<form #itemForm="ngForm" *ngIf="item">

  <mat-form-field color="accent">
    <input matInput name="name" placeholder="Name" [(ngModel)]="item.name" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput name="mob" placeholder="Mob" [(ngModel)]="item.mob" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput name="zone" placeholder="Zone" [(ngModel)]="item.zone" required>
  </mat-form-field>

  <mat-slide-toggle name="boe" [(ngModel)]="item.boe">Bind on Equip?</mat-slide-toggle>
  <mat-slide-toggle class="buytoggle" name="buyable" [(ngModel)]="item.buyable">Buyable?</mat-slide-toggle>

  <div class="actions">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button [disabled]="itemForm.form.invalid" (click)="save()">Save</button>
  </div>

</form>