
.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buytoggle {
    margin-top: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

:host >>> .mat-empty {
    color: white;
}

:host >>> .mat-input-infix {
    color: white;
}

:host >>> .mat-input-underline {
    border-color: white;
}

md-slide-toggle {
    margin-top: 12px;
}