<form #charForm="ngForm" *ngIf="character">

  <mat-form-field color="accent">
    <input matInput name="name" placeholder="Name" [(ngModel)]="character.name" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput name="realm" placeholder="Realm" [(ngModel)]="character.realm" required>
  </mat-form-field>

  <div class="actions">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button [disabled]="charForm.form.invalid" (click)="save()">Save</button>
  </div>

</form>