<div class="header">
  <h2>{{charName}}'s Sets</h2>
  <md-slide-toggle [(ngModel)]="showAll">Show All</md-slide-toggle>
</div>

<div *ngFor="let s of setList | async">
  <md-card *ngIf="showAll || (!showAll && obtained(s.items)!=total(s.items))" [ngClass]="{obtained: obtained(s.items)==total(s.items)}"
    (click)="selectSet(s)">
    <md-card-title>{{s.name}}</md-card-title>
    <md-card-content>
      <div *ngIf="s.raidTier" class="tier-badge">{{s.raidTier}}</div>
      <div *ngIf="!s.raidTier"></div>
      <div>{{obtained(s.items)}}/{{total(s.items)}}</div>
    </md-card-content>
  </md-card>
</div>

<button md-fab class="fab">
  <md-icon>add</md-icon>
</button>