<div class="header">
  <h2>{{charName}}'s Sets</h2>
  <mat-slide-toggle [(ngModel)]="showAll">Show All</mat-slide-toggle>
</div>

<div *ngFor="let s of setList | async">
  <mat-card *ngIf="showAll || (!showAll && obtained(s.items)!=total(s.items))" [ngClass]="{obtained: obtained(s.items)==total(s.items)}"
    (click)="selectSet(s)">
    <mat-card-title>{{s.name}}</mat-card-title>
    <mat-card-content>
      <div *ngIf="s.raidTier" class="tier-badge">{{s.raidTier}}</div>
      <div *ngIf="!s.raidTier"></div>
      <div>{{obtained(s.items)}}/{{total(s.items)}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="edit(s); $event.stopPropagation()">Edit</button>
      <button mat-button (click)="delete(s); $event.stopPropagation()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-fab class="fab" (click)="add()">
  <mat-icon>add</mat-icon>
</button>