<form #setForm="ngForm" *ngIf="set">

  <mat-form-field color="accent">
    <input matInput name="name" placeholder="Name" [(ngModel)]="set.name" required>
  </mat-form-field>

  <mat-form-field color="accent">
    <input matInput name="realm" placeholder="Raid Tier" [(ngModel)]="set.raidTier" required>
  </mat-form-field>

  <div class="actions">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button [disabled]="setForm.form.invalid" (click)="save()">Save</button>
  </div>

</form>