<div class="header">
  <h2>{{setName}}</h2>
  <mat-slide-toggle [(ngModel)]="showAll">Show All</mat-slide-toggle>
</div>

<div *ngFor="let i of itemList | async">
  <mat-card *ngIf="showAll || !i.obtained" [ngClass]="{obtained: i.obtained}" (click)="selectItem(i)">
    <mat-card-title>
      <div>{{i.name}}</div>
    </mat-card-title>
    <mat-card-content>
      {{i.mob}} - {{i.zone}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="edit(i); $event.stopPropagation()">Edit</button>
      <button mat-button (click)="delete(i); $event.stopPropagation()">Delete</button>
    </mat-card-actions>
    <mat-card-footer align="end" *ngIf="i.buyable || i.boe">
      <mat-icon class="special-icon" *ngIf="i.buyable">local_offer</mat-icon>
      <mat-icon class="special-icon" *ngIf="i.boe">share</mat-icon>
    </mat-card-footer>
  </mat-card>
</div>

<button mat-fab class="fab" (click)="add()">
  <mat-icon>add</mat-icon>
</button>