
.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.charname {
    color: #69f0ae;
}

form {
    display: flex;
    flex-direction: column;
}

:host >>> .mat-empty {
    color: white;
}

:host >>> .mat-input-infix {
    color: white;
}

:host >>> .mat-input-underline {
    border-color: white;
}

.warning {
    color: white;
    font-size: 18px;
    margin-bottom: 24px;
}