version: 2
jobs:
   build:
     working_directory: ~/cow
     docker:
       - image: circleci/node:7.10-browsers
     steps:
       - checkout
       - run: cd cow-pwa
       - run: npm install
       - run: ./node_modules/.bin/ng build --prod