version: 2
jobs:
   build:
     working_directory: ~/cow
     docker:
      - image: circleci/node:7.10-browsers
     steps:
      - checkout
      - run: 
          name: npm install
          command: npm install
          working_directory: ~/cow/cow-pwa
      - run:
          name: run tests
          command: ./node_modules/.bin/ng test --single-run
          working_directory: ~/cow/cow-pwa
      - store_test_results:
          path: ~/cow/cow-pwa/junit
      - store_artifacts:
          path: ~/cow/cow-pwa/junit
      - run:
          name: build
          command: ./node_modules/.bin/ng build --prod
          working_directory: ~/cow/cow-pwa
      - run:
          name: install firebase
          command: npm install -g firebase-tools
      - run:
          name: deploy to firebase
          command: firebase deploy --token=$FIREBASE_TOKEN --non-interactive
          working_directory: ~/cow/cow-pwa
       